<footer>
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum neque voluptate porro ut perspiciatis error
        impedit dolorem minima, eveniet reprehenderit modi</p>
    <div>
        <h1>Lorem</h1>
        <a>Lorem Ipsum</a>
        <a>Lorem Ipsum</a>
    </div>
    <div>
        <h1>Lorem</h1>
        <a>Lorem Ipsum</a>
        <a>Lorem Ipsum</a>
    </div>
    <div>
        <h1>Lorem</h1>
        <a>Lorem Ipsum</a>
        <a>Lorem Ipsum</a>
    </div>
    <div>
        <h1>Lorem</h1>
        <a>Lorem Ipsum</a>
        <a>Lorem Ipsum</a>
    </div>
</footer>