<footer>
    <p>Lorem ipsum dolor</p>
    <div>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </div>
    <div>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </div>
    <div>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </div>
    <div>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </div>
</footer>