<nav>
    <img src="/css/svgs/logo.svg" />
    <div>
        <a href="/">Home</a>
        <a href="/yourInfo">Your Info</a>
        <a href="/aboutUs">About Us</a>
        <a href="/login">Login</a>
    </div>
</nav>