footer{
	width: 100%;
	height: fit-content;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
	@include row;
    padding: 15px 50px;
    text-align: center;
	>p{
        width: 100%;
        padding: 10px 0;
    }
	div{
        flex: 1;
		@include vert;
        *{
            padding: 10px 10px;
        }
	}
}