footer{
	height: fit-content;
	width: 100%;
    position: absolute;
    bottom: 0;
	@include row;
    padding-bottom: 10px;
	>p{
        width: 100%;
        text-align: center;
        // padding: 10px 50px;
    }
	div{
		@include vert;
        *{
            margin: 0;
            padding: 10px;
        }
	}
}