<main>
    <h1>Send an Email</h1>
    <form class='form'>
        <input type='text' placeholder='firstName' name='firstName' />
        <input type='text' placeholder='lastName' name='lastName' />
        <textarea rows='15' placeholder='message' name='message' class='message'></textarea>
        <button type='submit'>Send Email</button>
    </form>
</main>