<main>
    <h1>Our Website</h1>
    <p>This is a website to store personal info. It's just a premier of what I can do to with mongodb. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Asperiores eos itaque
        eius tenetur, temporibus, odit voluptas quia natus quaerat voluptatem rerum officia ipsam iste, exercitationem
        nobis consequuntur illum. Quod veniam assumenda non eligendi</p>
    <img
        src='https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' />
    <p>
        delectus sequi eveniet autem, fugiat corrupti, ab
        natus voluptatem, dignissimos optio vel. Modi, facere voluptate ipsam cupiditate maiores porro repudiandae neque
        iusto accusamus aspernatur dolorum distinctio repellat!
    </p>
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio omnis iste alias repellendus aut dicta,
        iure eveniet ut nobis quod accusantium laboriosam. Voluptas harum cum provident, numquam blanditiis similique.
    </p>
    <img
        src='https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' />
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat autem aut ipsa quisquam sint alias aperiam
        unde ullam aliquam libero! Laboriosam illum at velit deserunt numquam, culpa minus dolores minima! Distinctio
        alias quidem animi laboriosam maiores ad itaque provident unde quisquam, dolores id modi officiis sed assumenda
        praesentium natus esse eius corporis obcaecati. Et, consequatur eligendi fugiat ea aperiam animi eum labore
        molestias veritatis ad enim voluptates quae, dolorem illo!</p>
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio omnis iste alias repellendus aut dicta,
        iure eveniet ut nobis quod accusantium laboriosam. Voluptas harum cum provident, numquam blanditiis similique.
    </p>
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat autem aut ipsa quisquam sint alias aperiam
        unde ullam</p>
    <img
        src='https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' />
    <p>
        aliquam libero! Laboriosam illum at velit deserunt numquam, culpa minus dolores minima! Distinctio
        alias quidem animi laboriosam maiores ad itaque provident unde quisquam, dolores id modi officiis sed assumenda
        praesentium natus esse eius corporis obcaecati. Et, consequatur eligendi fugiat ea aperiam animi eum labore
        molestias veritatis ad enim voluptates quae, dolorem illo!
    </p>
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio omnis iste alias repellendus aut dicta,
        iure eveniet ut nobis quod accusantium laboriosam. Voluptas harum cum provident, numquam blanditiis similique.
    </p>
</main>