<div class="login">
    <h1>Login</h1>
    <form action="/users" method="get">
        <p class="alert">Invalid username or password</p>
        <input type="text" placeholder="Username" name="username" />
        <input type="text" placeholder="Password" name="password" />
        <button type="submit">Submit</button>
    </form>
    <a href="/register">Register</a>
</div>