Create a new account
<form action="/users" method="post">
    <input type="text" placeholder="Username" name="_id" />
    <input type="text" placeholder="Password" name="password" />
    <button type="submit">Submit</button>
</form>
Login
<form action="/users" method="get">
    <input type="text" placeholder="Username" name="username" />
    <input type="text" placeholder="Password" name="password" />
    <button type="submit">Submit</button>
</form>