<div class="login">
    <h1>Register your account</h1>
    <form action="/users" method="post">
        <input type="text" placeholder="Username" name="_id" />
        <input type="text" placeholder="Password" name="password" />
        <button type="submit">Submit</button>
    </form>
</div>