<div class="form">
    <h1>Register your account</h1>
    <form action="/users" method="post">
        <% if(alert){ %>
            <p class="alert">
                <%= alert %>
            </p>
            <% } %>
                <input type="text" placeholder="Username" name="_id" />
                <input type="text" placeholder="Password" name="password" />
                <button type="submit">Submit</button>
    </form>
    <a href="/login">Login</a>
</div>