body {
  min-height: var(--winH);
  width: 100%;
  margin: 0;
  position: relative;
  word-break: break-all;
}

div {
  height: fit-content;
  position: relative;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form * {
  margin-top: 20px;
}

.x {
  width: 35px;
  height: 35px;
  background-image: url(./svgs/x.svg);
  background-size: cover;
}

input[type=text] {
  box-sizing: border-box;
  padding: 0;
  outline: none;
}

button {
  box-sizing: border-box;
  background: white;
  cursor: pointer;
}

a {
  color: black;
  display: block;
  text-decoration: underline;
}

header, footer, nav, body, main, article, aside {
  box-sizing: border-box;
}

nav {
  height: fit-content;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav img {
  width: 10%;
}
nav div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
nav div a {
  flex: 1;
}

footer {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 50px;
  text-align: center;
}
footer > p {
  width: 100%;
  padding: 10px 0;
}
footer div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer div * {
  padding: 10px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form input {
  height: 50px;
  width: 250px;
  border-radius: 50px;
  border: 2px solid #aaa;
  padding: 0 22px;
  font-size: 15px;
}
.form button {
  height: 50px;
  padding: 0 20px;
  border-radius: 50px;
  border: 2px solid;
  font-size: 15px;
}
.form a {
  width: fit-content;
  margin-top: 20px;
}
.form .alert {
  color: red;
  background: #fbb;
  font-size: 15px;
  padding: 10px 20px;
  border: 2px solid red;
}

html {
  padding: 0 50px;
  background: black;
  color: white;
}
html a {
  background: #010;
  color: #0f0;
  padding: 10px 15px;
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 15px;
  color: #0f0;
}

h1 {
  color: #0f0;
}

main {
  width: fit-content;
  max-width: 70%;
  font-size: 25px;
  background: black;
  padding: 15px 30px;
  border: 2px solid white;
  margin: 35px auto;
}
main * {
  margin-top: 20px;
}
main .form {
  margin-top: 0px;
}
main .form h1 {
  background: transparent;
  border: none;
  padding: 0;
}
main img {
  width: 40%;
  margin: 20px;
  border: 2px solid lime;
}
main img:nth-of-type(odd) {
  float: right;
}
main img:nth-of-type(even) {
  float: left;
}
main #updateInfo {
  display: none;
  height: fit-content;
}

body {
  text-align: center;
  background-image: url(./svgs/background.svg);
  background-size: 45px;
  padding-bottom: 1px;
}

nav {
  border: 2px solid white;
  background: black;
}
nav img {
  border-bottom: 2px solid lime;
  padding-bottom: 5px;
}
nav a {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  margin-top: 0;
}
nav a:hover {
  background: #040;
}

footer {
  background: #010;
  border-top: 2px solid white;
}

.form {
  margin-top: 20px;
}
.form h1 {
  background: black;
  border: 2px solid white;
  padding: 5px 15px;
}
.form p {
  margin: 0;
  margin-top: 20px;
}
.form input {
  border: 0;
}
.form button {
  cursor: pointer;
  border: 2px solid white;
  background: #111;
  color: white;
}
.form button:hover {
  background: gray;
  color: black;
}

.logout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f00;
  color: white;
  border: 2px solid white;
  border-radius: 35px;
  padding: 10px 20px;
  font-size: 25px;
}
.logout:hover {
  background: #f88;
  color: black;
}

/*# sourceMappingURL=main.css.map */
